@import "~normalize.css";

@import "_variables";

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background-color: #08aeea;
  max-width: 1000px;
  text-align: center;
  position: center;
  margin: 0 auto;
}

.header {
  background: #00008b;
  min-height: 60px;
  top: 0;
  width: 100%;
}

.main {
  margin: 60px auto 0;
}

section {
  background: #c1d4e7;
}

a {
  color: #7e0c0c;
}

h1 {
  color: blue;
}

h2 {
  color: #6d6c6c;
}

h3 {
  color: #27661a;
}

.navigation {
  padding: 16px;
  display: none;
  &--open {
    display: block;
  }
  &__link {
    color: #9acd32;
    display: block;
    margin: 0 0 16px;
  }
  &__link:hover {
    color: #7e0c0c;
  }
  &__link--homepage {
    background: #e90b0b;
  }
}

.article__title::before {
  content: "";
  display: inline-block;
  width: 12px;
  height: 12px;
  background: tomato;
  border-radius: 50%;
}

.znacznik {
  color: blue;
}

.atrybut {
  color: rgb(236, 71, 71);
}

.formularze {
  background-color: rgb(54, 10, 134);
  color: white;
}

.klasa-z-JS {
  background: red;
}

.hamburger {
  position: absolute;
  top: 16px;
  right: 16px;
  border: none;
  background: none;
}

.picture {
  max-width: 100%;
}

@media (min-width: 640px) {
  .hamburger {
    display: none;
  }

  .navigation {
    color: #9acd32;
    padding: 10px;
    border-radius: 10px;
    justify-content: space-around;
    display: flex;
    height: 100px;
    align-items: center;
  }
}

